.scopri {
    display: flex;
    position: absolute;
    transform: none;
    left: 0;
    right: 0;
    top: auto;
    bottom: calc(15% - 10px);
    margin-inline: auto;
    z-index: 10;
    height: 50px;
    width: 400px;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 9999px;
    box-shadow: -5px 0px 10px rgb(27, 27, 27);
    background-color: rgb(255, 255, 255);
    transition: all 0.4s ease;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.right-arrow {
    height: 50px;
    width: 50px;
    opacity: 1;
    margin-right: 5px;
    transition: all 0.4s ease;
}

.scopri:hover .right-arrow, .scopri:focus .right-arrow {
    opacity: 1;
    transform: scale(1.02);
}

.scopri:hover, .scopri:focus {
    border-color: black;
    transform: scale(1.02);
    color: #4da6ff;
}

.insideButton{
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

@media screen and (max-width: 780px) {
    .scopri {
        width: 50%;
        top: auto;
        bottom: calc(50% - 25px);
    }

    .insideButton{
        font-size: 16px;
    }

    .scopri:hover{
        transform: none;
    }
}
