body {
    background-color: rgba(17, 7, 53, 0.789);
}

main.cont {
    flex-grow: 1;
    position: absolute;
    z-index: 1;
    margin-top: 60px;
    height: 90vh;
}

.inner-title {
    margin-left: 80px;
    color: aliceblue;
}

.inner-title,
.title {
    padding-top: 30px;
    font-family: "Inter", sans-serif;
}

.title {
    font-size: 50px;
}

.inner-title {
    font-size: 30px;
}

p.text,
li {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    margin-right: 80px;
    color: rgb(184, 196, 206);
}

li {
    margin-left: 100px;
}

ul {
    padding-bottom: 30px;
}

p.text {
    margin-left: 80px;
}

li {
    list-style-type: circle;
}

.target-section {
    scroll-margin-top: 70px;
}

@media screen and (max-width: 768px) {

    .inner-title,
    p.text {
        margin-left: 30px;
    }

    .inner-title{
        font-size: 22px;
        margin-right: 15px;
    }

    p.text, li {
        margin-right: 15px;
        font-size: 18px;
    }

    li {
        margin-left: 45px;
    }
}