.foot-row {
    display: flex;
    z-index: 10;
    background-color: rgb(20, 18, 28);
    color: aliceblue;
    padding: 20px 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80px;
}

.footer-logo {
    height: 30px;
}

@media screen and (max-width: 768px) {
    .foot-row p {
        font-size: 14px;
        text-align: center;
    }

    .foot-row {
        height: 80px;
    }
}