.foot-row {
    display: flex;
    position: relative;
    z-index: 10;
    background-color: rgb(20, 18, 28);
    color: aliceblue;
    padding: 20px 20px;
    width: 100%;
    height: auto;
    max-height: 70px;
    justify-content: space-between;
}

.footer-logo {
    height: 25px;
}

.socialImg {
    height: 25px;
}

.description {
    display: flex;
    position: relative;
    gap: 20px;
}

@media screen and (max-width: 768px) {
    .foot-row p {
        font-size: 14px;
        text-align: center;
    }

    .foot-row {
        height: 80px;
    }
}