.foot-row {
    display: flex;
    position: relative;
    z-index: 10;
    background-color: rgb(20, 18, 28);
    color: aliceblue;
    font-family: "Inter", sans-serif;
    padding: 20px 20px;
    width: 100%;
    height: auto;
    max-height: 70px;
    justify-content: space-between;
}

.footer-logo {
    height: 25px;
}

.socialImg {
    height: 25px;
}

.social {
    display: flex;
    position: relative;
    gap: 20px;
}

.description {
    display: flex;
    position: relative;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width: 768px) {
    .foot-row p {
        text-align: center;
    }

    .foot-row {
        height: 80px;
    }

    .me{
        font-size: 13px;
    }
}