.head-row {
    display: flex;
    position: fixed;
    top: 0;
    z-index: 15;
    background-color: rgb(20, 18, 28);
    height: 80px;
    width: 100%;
    padding: 0 20px;

    align-items: center;
    color: aliceblue;

    font-weight: bold;
    justify-content: space-between;
}

.header-left-content {
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 20px;
}

.menuLogo {
    height: 40px;
}

a:focus,
button:focus {
    outline: 2px solid #4da6ff;
    outline-offset: 3px;
    border-radius: 5px;
}

.buttonMenu {
    background-color: transparent;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.10s ease;
    cursor: pointer;
}

.buttonMenu:hover,
.buttonMenu:focus {
    background-color: rgb(40, 38, 48);
}


.menuColonna {
    display: flex;
    color: rgb(20, 18, 28);
    background-color: rgba(240, 248, 255, 0.89);
    box-shadow: -5px 0px 10px rgb(27, 27, 27);
    z-index: 20;
    width: 40%;
    height: 100vh;
    border-radius: 0 0 0 15px;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 80px;
    transform: translateX(110%);
    transition: transform 0.3s ease-out, box-shadow 0.3s ease;
    padding: 20px 0;
    min-height: calc(100vh - 60px);
}

.menuColonna.is-open {
    transform: translateX(0%);
}

.elenco {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: auto;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.elenco li a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 10px;
    font-weight: bold;
    transition: color 0.2s ease;
}

.elenco li a:hover,
.elenco li a:focus {
    color: #4da6ff;
}

.in-Li {
    color: black;
    margin-left: 20%;
    list-style-type: disc;
}

.sectionLi {
    color: black;
    list-style-type: circle;
    margin-left: 55px;
    margin-right: 55px;
}

@media screen and (max-width: 1060px){
    .elenco{
        font-size: 17px;
    }
}

@media screen and (max-width: 773px) {
    .menuColonna {
        width: 50%;
        top: 60px;
    }

    .head-row {
        font-size: 18px;
        height: 60px;
    }

    .menuLogo {
        height: 30px;
    }

    .elenco {
        font-size: 15px;
    }

    .sectionLi{
        margin-left: 40px;
    }
}