* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}

.cont {
  display: flex;
  flex-direction: column; 
  min-height: 100vh;    
}

main.presentation {
    display: flex;
    flex-grow: 1;
    position: relative;
    z-index: 1;
    margin-top: 60px;
    height: 90vh;
}

.sidebarLeft,
.sidebarRigth {
    font-family: "Chonburi", serif;
    width: 50%;
    height: 100%;
    color: aliceblue;
    font-size: 90px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.titleRigth,
.titleLeft {
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.516);
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleLeft {
    background-color: rgba(8, 18, 31, 0.605);
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;

    object-fit: fill;
    width: 100%;
    height: 100%;
    z-index: 0;
}

@media screen and (max-width: 1280px){
    .titleLeft,
    .titleRigth {
        font-size: 60px;
    }
}

@media screen and (max-width: 780px) {

    /* Layout Principale: da 2 colonne a 1 colonna */
    main.presentation {
        flex-direction: column;
        min-height: auto;
    }

    .sidebarLeft,
    .sidebarRigth {
        width: 100%;
        height: 60vh;
        font-size: 50px;
    }
}

@media screen and (max-width: 560px), (max-height: 560px){
    .titleLeft, .titleRigth{
        font-size: 40px;
    }
}