.img-title,
.img-titleSecond {
    display: flex;
    margin-top: 120px;
    margin-bottom: 50px;
    width: 100%;
    height: 500px;
    margin-left: none;
    margin-right: none;
    justify-content: center;

    box-shadow:
        0px 5px 8px 0 rgba(0, 0, 0, 0.819),
        0px -5px 8px 0 rgba(0, 0, 0, 0.819);
}

.img-title {
    background-color: #231039;
}

.img-titleSecond {
    background-color: #121213;
}

.img-overlay,
.img-overlaySecond {
    position: absolute;
    width: 100%;
    height: 500px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.img-overlay {
    background-color: rgba(35, 16, 57, 0.619);
}

.img-overlaySecond {
    background-color: rgba(14, 17, 34, 0.619);
}

.first-title {
    font-family: "Chonburi", serif;
    color: aliceblue;
    font-size: 100px;
    z-index: 2;
}

.content-img,
.content-imgSecond {
    z-index: 0;
    height: 100%;
    min-height: 1px;
    align-items: stretch;
    object-fit: cover;
}

.content-img {
    box-shadow:
        -15px 0px 8px -5px rgba(118, 91, 154, 0.536),
        15px 0px 8px -5px rgba(118, 91, 154, 0.536);
    width: 50%;
}

.content-imgSecond {
    width: 100%; 
    object-fit: cover;
}

@media screen and (max-width: 1060px){
    .first-title {
        font-size: 70px;
    }
}

@media screen and (max-width: 768px) {

    .img-title,
    .img-titleSecond,
    .img-overlay,
    .img-overlaySecond {
        height: 300px;
    }

    .first-title {
        font-size: 50px;
        text-align: center;
    }

    .content-img {
        width: 100%;
        height: 300px;
    }
}