* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}

.head-row {
    display: flex;
    position: absolute;
    z-index: 5;

    background-color: rgb(20, 18, 28);

    height: 60px;
    width: 100%;

    padding-left: 20px;
    padding-right: 20px;
    align-items: center;

    color: aliceblue;
    font-weight: bold;
    justify-content: space-between;
}

.header-left-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.menuLogo {
    height: 32px;
}

.sidebarLeft,
.sidebarRigth {
    font-family: 'Times New Roman', Times, serif;
    width: 50%;
    height: 100vh;
    color: aliceblue;
    font-size: 80px;
    text-align: center;

    display: flex;
    /* attiva flexbox */
    justify-content: center;
    /* centro orizzontale */
    align-items: center;
    /* centro verticale */
}

.sidebarLeft {
    background-color: rgb(52, 46, 74);
}

.titleRigth {
    background-color: rgba(8, 18, 31, 0.605);
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.516);

    position: relative;
    z-index: 3;

    width: 100%;
    height: 100vh;

    display: flex;
    /* attiva flexbox */
    justify-content: center;
    /* centro orizzontale */
    align-items: center;
    /* centro verticale */
}

.titleLeft {
    background-color: rgba(8, 18, 31, 0.605);
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.516);

    position: relative;
    z-index: 3;

    width: 100%;
    height: 100vh;

    display: flex;
    /* attiva flexbox */
    justify-content: center;
    /* centro orizzontale */
    align-items: center;
    /* centro verticale */
}

.menuColonna {
    display: flex;
    color: black;
    background-color: hsla(225, 3%, 75%, 0.06);
    box-shadow: -5px 0px 10px rgb(27, 27, 27);
    z-index: 10;

    width: 30%;
    height: 60px;

    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(110%);
    transition: transform 0.3s ease-out;
    /* Animazione fluida */
}

.buttonMenu-1{
    background-color: rgba(240, 248, 255, 0);
    border-color: rgba(250, 235, 215, 0);
    height: 50px;
    width: 50px;
    z-index: 15;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    transition: background-color 0.10s ease;
    /* Transizione fluida per l'hover */
}

.buttonMenu-1:hover{
    background-color: rgb(20, 18, 28);
}

.menuColonna.is-open {
    transform: translateX(0);
}

.elenco{
    padding-left: 10%;
    color: aliceblue;
}

.scopri {
    display: flex;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    z-index: 5;
    bottom: 20%;

    height: 50px;
    width: 300px;

    justify-content: space-between;
    align-items: center;
    padding-left: 20px;

    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 9999px;
    /* super arrotondato */
    box-shadow: -5px 0px 10px rgb(27, 27, 27);
    background-color: rgb(255, 255, 255);
    transition: border-width 0.4s ease;
}

.right-arrow {
    height: 50px;
    width: 50px;
    opacity: 0;
    margin-right: 5px;
    transform: translateX(30px);
    /* parte spostata a destra */
    transition: all 0.4s ease;
    /* transizione fluida */
}

.scopri:hover .right-arrow {
    opacity: 1;
    transform: translateX(0);
}

.scopri:hover {
    border-color: black;
}

.presentation {
    display: flex;
    height: 100%;

    position: relative;
    z-index: 1;
}

.content {
    position: relative;
    z-index: -1;
    visibility: hidden;
}

.buttonScopri {
    border-radius: 20%;
}

.bg-video {
    position: fixed;
    object-fit: cover;
    width: 50%;
    height: 100vh;
    z-index: 0;
}

.foot-row {
    display: flex;
    position: absolute;
    z-index: 10;

    background-color: rgb(20, 18, 28);
    color: aliceblue;

    padding-top: 1%;
    padding-bottom: 1%;
    height: auto;
    width: 100%;

    justify-content: center;
    /* centro orizzontale */
    align-items: center;
    /* centro verticale */

    flex-direction: column;
}

/*ADATTAMENTO AI TELEFONI (max-width 768px)*/
@media (max-width: 768px) {
    html, body, .presentation {
        height: 100vh;
        overflow-x: hidden;
    }

    .head-row {
        position: fixed;
        height: 40px; 
        padding-left: 10px;
        padding-right: 10px;
        font-size: 0.8em;
        font-size: 10px;
    }

    .header-left-content img {
        height: 20px;
    }
    
    .menuLogo {
        height: 20px;
    }

    .presentation {
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        height: 100vh;
        width: 100vw;
    }
    
    .sidebarLeft,
    .sidebarRigth {
        width: 100%;
        height: 100%; 
        font-size: 30px;
    }

    .sidebarLeft{
        top: 170px; 
    }

    .titleRigth,
    .titleLeft {
        height: 73.9%;
        box-shadow: none;
        font-size: 30px;
    }

    .titleRigth{
        white-space: nowrap;
        margin-bottom: 160px;
    }

    .bg-video {
        position: fixed;
        width: 100vw;
        height: 91%;
        top: 0;
        left: 0;
    }

    .scopri {
        position: fixed;
        bottom: 70px; 
        left: 50%;
        transform: translateX(-50%);
        z-index: 6;
        width: 200px;
        height: 40px;
        font-size: 15px;
    }

    .right-arrow{
        height: 40px;
    }

    .foot-row {
        position: fixed; 
        bottom: 0;
        z-index: 7;
        width: 100%;
        padding-bottom: 10px;
        font-size: 0.7em;
    }
    
    .foot-row img {
        height: 15px;
    }
    
    .menuColonna {
        width: 75%; 
        margin-top: 39px; 
        background-color: rgba(8, 18, 31, 0.605);
    }

    .buttonMenu-1 {
        height: 40px;
        width: 40px;
    }
}