* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100%;
}

.head-row {
    display: flex;
    position: absolute;
    z-index: 10;

    background-color: rgb(20, 18, 28);
    height: 50px;
    width: 100%;

    padding-left: 20px;
    align-items: center;
    /* centro verticale */
}

.central,
.sidebarLeft,
.sidebarRigth {
    color: aliceblue;
    font-size: 80px;
    text-align: center;
}

.sidebarLeft,
.sidebarRigth {
    width: 50%;
    height: 100vh;

    display: flex;
    /* attiva flexbox */
    justify-content: center;
    /* centro orizzontale */
    align-items: center;
    /* centro verticale */
}

.sidebarLeft{
    background-color:rgb(52, 46, 74);
}


.titleRigth {
    background-color: rgba(8, 18, 31, 0.605);
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.516);

    position: relative;
    z-index: 3;

    width: 100%;
    height: 100vh;

    display: flex;
    /* attiva flexbox */
    justify-content: center;
    /* centro orizzontale */
    align-items: center;
    /* centro verticale */
}

.central {
    display: flex;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    z-index: 5;
    bottom: 50%;
    z-index: 3;
}

.scopri {
    display: flex;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    z-index: 5;
    bottom: 20%;
    z-index: 2;

    height: 50px;
    width: 300px;

    text-align: left;
    align-items: center;
    padding-left: 20px;

    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 9999px;
    /* super arrotondato */
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.516);
    background-color: aliceblue;
}

.right-arrow {
    height: 50px;
    width: 50px;
    margin-left: 55%;
    opacity: 0;
    transform: translateX(30px);
    /* parte spostata a destra */
    transition: all 0.4s ease;
    /* transizione fluida */
}

.scopri:hover .right-arrow {
    opacity: 1;
    transform: translateX(0);
}

.presentation {
    display: flex;
    height: 100%;

    position: relative;
    z-index: 1;
}

.content {
    position: relative;
    z-index: -1;
    visibility: hidden;
}

.buttonScopri {
    border-radius: 20%;

}

.bg-video {
    position: fixed;
    object-fit: cover;
    width: 50%;
    height: 100vh;


    /* riempie lo schermo */
    z-index: 0;
    /* dietro al contenuto */
}