* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.head-row {
    display: flex;
    position: absolute;
    z-index: 10;

    background-color: rgb(20, 18, 28);

    height: 60px;
    width: 100%;

    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    /* centro verticale */

    color: aliceblue;
    font-weight: bold;
    justify-content: space-between;
}

.header-left-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.menuLogo {
    height: 32px;
}

.buttonMenu {
    background-color: rgba(240, 248, 255, 0);
    border-color: rgba(250, 235, 215, 0);
    height: 50px;
    width: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    /* Imposta il raggio degli angoli, regola il valore come preferisci */
    transition: background-color 0.10s ease;
    /* Transizione fluida per l'hover */
}

.buttonMenu:hover {
    background-color: rgba(232, 222, 210, 0.037);
    border: 1px solid aliceblue;
}

.sidebarLeft,
.sidebarRigth {
    font-family: 'Times New Roman', Times, serif;
    width: 50%;
    height: 100vh;
    color: aliceblue;
    font-size: 80px;
    text-align: center;

    display: flex;
    /* attiva flexbox */
    justify-content: center;
    /* centro orizzontale */
    align-items: center;
    /* centro verticale */
}

.sidebarLeft {
    background-color: rgb(52, 46, 74);
}


.titleRigth {
    background-color: rgba(8, 18, 31, 0.605);
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.516);

    position: relative;
    z-index: 3;

    width: 100%;
    height: 100vh;

    display: flex;
    /* attiva flexbox */
    justify-content: center;
    /* centro orizzontale */
    align-items: center;
    /* centro verticale */
}

.titleLeft {
    background-color: rgba(8, 18, 31, 0.605);
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.516);

    position: relative;
    z-index: 3;

    width: 100%;
    height: 100vh;

    display: flex;
    /* attiva flexbox */
    justify-content: center;
    /* centro orizzontale */
    align-items: center;
    /* centro verticale */
}

.scopri {
    display: flex;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    z-index: 5;
    bottom: 20%;

    height: 50px;
    width: 300px;

    justify-content: space-between;
    align-items: center;
    padding-left: 20px;

    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 9999px;
    /* super arrotondato */
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.516);
    background-color: aliceblue;
}

.right-arrow {
    height: 50px;
    width: 50px;
    opacity: 0;
    margin-right: 5px;
    transform: translateX(30px);
    /* parte spostata a destra */
    transition: all 0.4s ease;
    /* transizione fluida */
}

.scopri:hover .right-arrow {
    opacity: 1;
    transform: translateX(0);
}

.scopri:hover .insideButton {
    font-weight: bold;
}

.presentation {
    display: flex;
    height: 100%;

    position: relative;
    z-index: 1;
}

.content {
    position: relative;
    z-index: -1;
    visibility: hidden;
}

.buttonScopri {
    border-radius: 20%;

}

.bg-video {
    position: fixed;
    object-fit: cover;
    width: 50%;
    height: 100vh;


    /* riempie lo schermo */
    z-index: 0;
    /* dietro al contenuto */
}

.foot-row {
    display: flex;
    position: absolute;
    z-index: 10;

    background-color: rgb(20, 18, 28);
    color: aliceblue;

    padding-top: 1%;
    padding-bottom: 1%;
    height: auto;
    width: 100%;

    justify-content: center;
    /* centro orizzontale */
    align-items: center;
    /* centro verticale */

    flex-direction: column;
}